<h1>SQL CheatSheet</h1>
<p>To get started, upload or paste your data (saved as SQL or TXT).</p>

<div class="g-3">
  <div class="row">
    <div class="col-md-5">
      <div class="form-check-inline">
        <select [(ngModel)]="sqlType" (ngModelChange)="onChange($event)" id="sqlTypeId" class="form-select"
                aria-label="Default select example">
          <option *ngFor="let sqlType of SQLTypes | keyvalue" value="{{sqlType.key}}">{{ sqlType.value}}</option>
        </select>
      </div>
      <label for="inputOringinalText" class="form-label">Example Input</label>
      <textarea class="form-control bg-light" id="inputOringinalText" rows="20" [(ngModel)]="inputText" placeholder="paste your csv here"></textarea>
    </div>
    <div class="col-md-7">
      <div class="mb-0">
<!--        <div class="form-check form-check-inline">-->
<!--          <input [(ngModel)]="isFirstColumnNotEmpty" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
<!--          <label class="form-check-label" for="inlineCheckbox1">1st column NOT empty</label>-->
<!--        </div>-->
      </div>
      <label for="inputChangedText" class="form-label">Example Output</label>
      <textarea class="form-control bg-light" id="inputChangedText" rows="20" [(ngModel)]="outputText" placeholder="then this will show result according to the button you pressed"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
      <button class="btn btn-success" type="button" (click)="onExample()">Example</button>
    </div>
    <div class="col-md-7">
      <button class="btn btn-success" type="button" (click)="onClearRight()">Clear</button>
    </div>
    <a href="https://www.w3schools.com/sql/sql_examples.asp">examples</a>
    <img src="/assets/sqlCheatSheet.png" alt="sqlCheatSheet"/>
  </div>
</div>
