<h1>Case Converter</h1>

<div class="g-3">
  <div class="row">
    <h5>Accidentally left the caps lock on and typed something, but can't be bothered to start again and retype it all?</h5>
    <div class="col-md-12">
      <label for="inputOringinalText" class="form-label">Simply enter your text and choose the case you want to convert it to.</label>
      <textarea class="form-control bg-light" id="inputOringinalText" rows="20" name="oldTextBox" [(ngModel)]="oldText"></textarea>
    </div>
  </div>
  <div class="col-md-12">
    <label [textContent]="characterCountText" name="characterCountLabel"></label>
  </div>
  <div class="col-md-12">
    <button class="btn btn-success" type="button" (click)="onUpper()">UPPER</button>
    <button class="btn btn-success" type="button" (click)="onLower()">lower</button>
    <button class="btn btn-success" type="button" (click)="on1stCharUpper()">1stCharUpper</button>
    <button class="btn btn-success" type="button" (click)="on1stCharLower()">1stCharLower</button>
    <button class="btn btn-success" type="button" (click)="onUnderscoreToCamelCase()">'_' > CamelCase</button>
    <button class="btn btn-success" type="button" (click)="onCamelCaseToUnderscore()">CamelCase > '_'</button>
    <button class="btn btn-success" type="button" (click)="onCapitalize()">Capitalize</button>
    <button class="btn btn-success" type="button" (click)="onTitleCase()">Title Case</button>
    <button class="btn btn-success" type="button" (click)="onSentenceCase()">Sentence case</button>
    <button class="btn btn-success" type="button" (click)="onCount()">Count</button>
    <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
    <button class="btn btn-success" type="button" (click)="onExample()">Example</button>
    <br/>
    <button class="btn btn-success" type="button" (click)="onReverse()">Reverse Horizontally</button>
    <button class="btn btn-success" type="button" (click)="onUpsideDown()">Flip Upside-down</button>
    <button class="btn btn-success" type="button" (click)="onTrim()">Trim</button>
  </div>
</div>
