<h1>SQL Validator</h1>
<p>To get started, upload or paste your data (saved as SQL or TXT).</p>

<div class="g-3">
  <div class="row">
    <div class="col-md-5">
      <div class="mb-1">
        <label for="formFile" class="form-label">Upload a CSV file</label>
        <input (change)="onFileChange($event)" class="form-control" type="file" id="formFile" accept=".csv, text/csv">
      </div>
      <label for="inputOringinalText" class="form-label">Or paste your CSV here</label>
      <textarea class="form-control bg-light" id="inputOringinalText" rows="20" [(ngModel)]="inputText" placeholder="paste your csv here"></textarea>
    </div>
    <div class="col-md-7">
      <div class="mb-0">
        <div class="form-check-inline">
          <label for="separator" class="form-label">Separator</label>
          <select [(ngModel)]="separator" id="separator" class="form-select" aria-label="Default select example">
            <option selected value=",">Comma</option>
            <option value=";">Semi-colon</option>
            <option value="|">Pipe</option>
          </select>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="isFirstColumnNotEmpty" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">1st column NOT empty</label>
        </div>
      </div>
      <label for="inputChangedText" class="form-label">Validating Output</label>
      <textarea class="form-control bg-light" id="inputChangedText" rows="20" [(ngModel)]="outputText" placeholder="then this will show result according to the button you pressed"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-success" type="button" (click)="validate()">Validate > </button>
      <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
      <button class="btn btn-success" type="button" (click)="onExample()">Example</button>
    </div>
    <div class="col-md-7">
      <button class="btn btn-success" type="button" (click)="onClearRight()">Clear</button>
    </div>
  </div>
</div>


