<h3>Diff Checker</h3>

<!--<inline-diff [oldText]="oldTextContents" [newText]="newTextContents" [lineContextSize]="4" [hidden]="isHidden"></inline-diff>-->
<form class="g-3" [formGroup]="form" (ngSubmit)="onCompare()">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="submit">Compare!</button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="inputOringinalText" class="form-label">Original Text</label>
      <textarea class="form-control" id="inputOringinalText" rows="20" formControlName='oldText'></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputChangedText" class="form-label">Changed Text</label>
      <textarea class="form-control" id="inputChangedText" rows="20" formControlName='newText'></textarea>
    </div>
  </div>
</form>
