<p>diffchecker works!</p>

<form class="g-3">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="button">Compare</button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="inputOringinalText" class="form-label">Original Text</label>
      <textarea class="form-control" id="inputOringinalText"></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputChangedText" class="form-label">Changed Text</label>
      <textarea class="form-control" id="inputChangedText"></textarea>
    </div>
  </div>
</form>
