<h1>CSV > JSON</h1>

<div class="g-3">
  <div class="row">
    <div class="col-md-5">
      Upload a CSV file
    </div>
    <div class="col-md-7">
      <label for="separator" class="form-label">Separator</label>
      <select id="separator" class="form-select" aria-label="Default select example">
        <option selected value="1">Comma</option>
        <option value="2">Semi-colon</option>
        <option value="3">Pipe</option>
      </select>
      <br/>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Parse numbers</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Parse JSON</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Transpose</label>
      </div>
      <br/>
      <label class="form-label mr-3">Output: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Array</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Hash</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Minify</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <label for="inputOringinalText" class="form-label">Or paste your CSV here</label>
      <textarea class="form-control" id="inputOringinalText" rows="20" [(ngModel)]="inputText" placeholder="paste your csv here"></textarea>
    </div>
    <div class="col-md-7">
      <label for="inputChangedText" class="form-label">JSON</label>
      <textarea class="form-control" id="inputChangedText" rows="20" [(ngModel)]="outputText" placeholder="then this will show result according to the button you pressed"></textarea>
    </div>
  </div>
  <button class="btn btn-success" type="button" (click)="onToJson()">ToJson</button>
  <button class="btn btn-success" type="button" (click)="onToXml()">ToXml</button>
  <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
  <button class="btn btn-success" type="button" (click)="onExample()">Example</button>
</div>
